<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CSVアップロード</title>
</head>
<body>

    <h1>CSVアップロード</h1>

    <!-- 
        CSVファイルをサーバーに送るためのフォーム
        enctype="multipart/form-data" はファイル送信で必須
    -->
    <form th:action="@{/csv/upload}" method="post" enctype="multipart/form-data">

        <!-- アップロードするファイル選択欄 -->
        <div>
            <input type="file" name="file" required>
        </div>

        <br>

        <!-- 送信ボタン -->
        <button type="submit">アップロード</button>
    </form>

    <br>

    <!-- 戻るリンク -->
    <a th:href="@{/}">トップへ戻る</a>

</body>
</html>